* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("preview/10c4d16274537eebd298fb065a5d368f1216a59a.jpg");
}
#main-block {
    width: 100%;
    display: flex;
}

.csgo {
    color: crimson;

}
.news {
    color: cadetblue;
}

.news-wall{
    background-color: rgba(0, 0, 0, 0.6);
    width: 60%;
    height: 20%;
    min-height: 900px;
    margin: auto;
    align-self: center;
}
.news-wall-image{
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border-bottom: 1px solid gray;
    text-decoration: none;
}
.news-flag{
    margin-right: 10px;
    height: 15px;
    width: 22px;
}

.flag{
    height: 15px;
    width: 22px;
}

.news-text{
    font-size: 30px;
    color: white;
    flex: 1 1 auto;
}

.news-tc{
    color: silver;
    text-align: right;
    line-height: 15px;
}

.news-recent{
    color: slategrey;
}

.news-image{
    flex: 0 0 auto;
    margin-right: 10px;
    height: 120px;
    width: 180px;
}

.ranking{
    display: flex;
    margin-left: 70%;
    margin-bottom: 5%;
}


.reset{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.col-box{
    border-top: 0;
}

.rank{
    margin-left: 40%;
    display: flex;
    align-items: center;
    height: 35px;
    font-size: 12px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.6);
}

.rankNum{
    font-size: 20px;
    margin-left: 7px;
    text-decoration: none;
    color: white;
}

.teamImg{
    max-width: 18px;
    margin: 7px;
}

.text-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.matches-todays{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 70%;
    margin-top: 20%;
}

a{
    text-decoration: none;
}

.top-border-hide{
    display: block;
    margin-top:10%;
    margin-left: 40%;
}
.hotmatch-box{
    display: block;
}

.teambox{
    display: flex;
    padding: 3px 5px;
    /*border: 1px solid white;*/
    border-bottom: 1px solid gray;
    width: 150px;
}

.teamrow{
    color: white;
    text-decoration: none;
    font-size: 17px;
    height: 20px;
}

.gallery{
    height: 1000px;
    width: 725px;
    margin-left: auto;
    margin-right: auto;

}
.standard-headline{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
}

.gallery-grid-con{
    background-color: rgba(0, 0, 0, 0.6);
    width: 725px;
    height: 1000px;
}

.gallery-grid{
    display: flex;
    column-gap: 16px;
    font-size: 12px;
    padding: 16px;
    height: 240px;
    box-sizing: border-box;
}
.col{
    position: relative;
    padding-bottom: 33%;
    height: 0;
}

.photo{
    width: 100%;
}

.photo-name{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    color: #fff;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;
    bottom: 0;
}

/*#footer{*/
/*    display: flex;*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    background-color: black;*/
/*    justify-content: center;*/
/*}*/
.footer{
    font-size: 1.5rem;
    color: white;
    width: 95%;
    text-align: center;
    /*font-family: Chalkduster, fantasy;*/
    margin-top: auto;
    justify-content: center;
}
/*p {*/
/*    display: block;*/
/*    margin-block-start: 1em;*/
/*    margin-block-end: 1em;*/
/*    margin-inline-start: 0px;*/
/*    margin-inline-end: 0px;*/
/*}*/

/*.word{*/
/*    margin-top: 40px;*/
/*    margin-left: 150px;*/
/*    color: white;*/
/*}*/

.world-ranking{
    margin-left: 30%;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
}
upcomingMatchesAll {
    margin-left: 150px;
    /*display: flex;*/
}

.ranked-team{
    margin-top: 8px;
    cursor: pointer;
}

.ranked-team .ranking-header{
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
}

.lineup-con{
    border-top: 1px solid #495867;
}

.lineup{
    padding-top: 10px;
    width: 100%;
    border-spacing: 10px 0;
    padding-left: 60px;
}

.player-holder{
    width: 20%;
    max-width: 1px;
}

.pointer{
    cursor: pointer;
}

.nick{
    display: flex;
    align-items: center;
    margin-left: 60px;
    color: white;
}

.nick img{
    margin-right: 5px;
}

/*.flag{*/
/*    height: 12px;*/
/*    width: 18px;*/
/*    box-sizing: border-box;*/
/*    border: 1px solid #000;*/
/*    background-color: rgba(0,0,0,.05);*/
/*}*/

.ranked-team .ranking-header .position{
    margin-right: 10px;
    margin-top: 8px;
    font-weight: 700;
    font-size: 20px;
    width: 22px;
}

.ranked-team .team-logo {
    height: 40px;
    max-width: 40px;
    margin-right: 30px;
    flex: 0 0 40px;
}

.team-logo img{
    width: 100%;
    max-height: 100%;
}

.relative{
    width: 100%;
}
.ranked-team .ranking-header .teamLine{
    width: 100%;
    position: absolute;
    align-items: center;
}

.name{
    margin-right: 5px;
    font-size: 20px;
}

.points{
    margin-right: 5px;
    font-size: 11px;
}

.playersLine{
    opacity: 0;
}

.rankingNicknames{
    display: inline-block;
    opacity: .65;
    font-size: 10px;
}

.positive{
    font-size: 20px;
    color: chartreuse;
}

.negative{
    font-size: 20px;
    color: red;
}

.headline-flex{
    display: flex;
    height: 32px;
    align-items: center;
    margin: 0;
}

.upcoming-headline{
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: white;
}

.upcomingMatchesSection{
    height: 40%;
    width: 45%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.upcomingMatch {
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: 0 16px;
    height: 52px;

}

.matchDayHeadline{
    margin-top: 20px;
    display: flex;
    background-color: black;
    color: white;
    font-size: 16px;
    padding-left: 16px;
    height: 20%;
    align-items: center;
    font-weight: 700;
}

.mach{
    display: flex;
    max-width: calc(100% - 45px);
}

.matchInfo{
    cursor: auto;
    display: flex;
    flex-direction: column;
    height: 52px;
    justify-content: center;
    margin-right: 50px;
    width: 34px;
}

.matchTime{
    cursor: auto;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    color: white;
    width: 10%;
}

.matchMeta{
    color: white;
    cursor: auto;
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 16px;
    text-align: center;
    width: 10%;

}

.matchTeams {
    color: white;
    cursor: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}

.matchEvent {
    align-items: center;
    color: white;
    cursor: auto;
    display: flex;
    font-size: 10px;
    font-weight: 400;
    height: 52px;
    width: 160px;
}

.matchEventLogoContainer {
    color: white;
    cursor: auto;
    display: flex;
    font-size: 10px;
    font-weight: 400;
    height: 25px;
    margin-right: 8px;
    width: 25px;
}

.matchEventName {
    color: white;
    cursor: auto;
    font-size: 12px;
    font-weight: 400;
    height: 32px;
    width: 127px;

}

.matchTeamLogoContainer {
    cursor: auto;
    color: white;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    margin-right: 4px;
    width: 16px;

}
.match{
    color: white;
    cursor: auto;
    display: flex;
    flex-grow: 1;
    font-size: 12px;
    font-weight: 400;
    height: 52px;
    max-width: calc(100% - 45px);
    width: 40%;
}

.matchTeamLogo {
    color: white;
    cursor: auto;
    display: block;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    width: 16px;
}



.matchEventLogo{
    color: white;
    cursor: auto;
    display: block;
    font-size: 10px;
    font-weight: 400;
    height: 25px;
    width: 25px;
}

.matchTeam{
    align-items: center;
    color: white;
    cursor: auto;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    height: 20px;
    width: 211px;
}

.matchTeamName{
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 400;
    height: 20px;
}
@media screen and (max-width: 600px){
    .upcomingMatchesSection{
        margin-left: 20px;
        /*margin-right: auto;*/
        background-color: rgba(0, 0, 0, 0.6);
        position: relative;
    }

}

.playerPicture{
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 600px){
    .playerPicture{
        width: 50px;
    }

}
@media screen and (max-width: 600px){
    .nick{
        display: flex;
        align-items: center;
        margin-left: 1px;
        color: white;
    }

}
@media screen and (max-width: 600px){
    .ranked-team{
        margin-top: 8px;
        cursor: pointer;
        /*display: block;*/
        flex-direction: column;
    }
}
@media screen and (max-width: 600px){
    .upcoming-headline{
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        color: white;

    }

}

@media screen and (max-width: 600px){
    .ranked-team{
        margin-top: 8px;
        cursor: pointer;
        position: relative;
    }

}

@media screen and (max-width: 600px){

    .top-border-hide{
        display: block;
        margin-top:1px;
        margin-left: 40%;
    }
}

@media screen and (max-width: 600px){
    .upcomingMatchesAll {
        margin-left: 10px;
        position: relative;
    }
}

@media screen and (max-width: 600px){
    .matchEvent {
        align-items: center;
        color: white;
        cursor: auto;
        display: flex;
        font-size: 10px;
        font-weight: 400;
        height: 52px;
        width: 160px;
        margin-left: 180px;
    }

}

@media screen and (max-width: 600px){
    .headline-flex{
        display: flex;
        position: relative;
        margin-top: 30px;
        /*width: 100%;*/
        /*margin-left: 40%;*/
    }
}

@media screen and (max-width: 600px){
    .matchDayHeadline{
        margin-top: 20px;
        display: flex;
        background-color: black;
        color: white;
        /*font-size: 30px;*/
        padding-left: 16px;
        /*height: 42px;*/
        align-items: center;
        font-weight: 700;
        position: relative;
    }
}

@media screen and (max-width: 600px){
    .matchTime{
        cursor: auto;
        display: block;
        font-size: 24px;
        font-weight: 700;
        height: 20px;
        color: white;
        width: 34px;
    }
}

@media screen and (max-width: 600px){
    .matchMeta{
        color: white;
        cursor: auto;
        display: block;
        font-size: 22px;
        font-weight: 700;
        height: 16px;
        text-align: center;
        width: 34px;
    }
}

@media screen and (max-width: 600px){
    .matchTeamName{
        color: white;
        display: block;
        font-size: 28px;
        font-weight: 400;
        height: 20px;
        /*margin-top: 40px;*/
    }
}

@media screen and (max-width: 600px){
    .matchInfo{
        cursor: auto;
        display: flex;
        flex-direction: column;
        height: 52px;
        justify-content: center;
        margin-right: 50px;
        width: 10%;
    }
}

@media screen and (max-width: 600px){
    .matchTeamLogo {
        color: white;
        cursor: auto;
        display: block;
        font-size: 44px;
        font-weight: 400;
        height: 16px;
        width: 16px;
    }

}

@media screen and (max-width: 600px){
    .matchEventName {
        color: white;
        cursor: auto;
        font-size: 22px;
        font-weight: 400;
        height: 32px;
        width: 127px;
    }
}

@media screen and (max-width: 600px){
    .upcomingMatch {
        margin-top: 40px;
        height: 10px;
        position: relative;
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px){
    .news-wall{
        background-color: rgba(0, 0, 0, 0.6);
        /*width: 600px;*/
        height: 20%;
        min-height: 900px;
        /*margin: auto;*/
        align-self: center;
        margin-left: 100px;
        margin-top: 20px;
        position: relative;
    }

}

@media screen and (max-width: 600px){
    .matchTeam{
        align-items: center;
        color: white;
        cursor: auto;
        display: flex;
        font-size: 12px;
        font-weight: 400;
        height: 20px;
        width: 1px;
    }

}

@media screen and (max-width: 600px){
    #main-block {
        /*width: 600px;*/
        position: relative;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    .reset{
        color: white;
        text-decoration: none;
        font-size: 30px;
    }
}

@media screen and (max-width: 600px){
    .ranking{
        display: flex;
        margin-left: 43%;
        margin-bottom: 1%;
    }
}

@media screen and (max-width: 600px){
    .rank{
        margin-left: 40%;
        display: flex;
        align-items: center;
        height: 35px;
        font-size: 32px;
        width: 170px;
        background-color: rgba(0, 0, 0, 0.6);
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px){
    .rankNum{
        font-size: 30px;
        margin-left: 7px;
        text-decoration: none;
        color: white;
    }
}

@media screen and (max-width: 600px){
    .teamImg{
        max-width: 28px;
        margin: 7px;
    }
}

@media screen and (max-width: 600px){
    .text-ellipsis{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        font-size: 30px;
        color: white;
    }
}

@media screen and (max-width: 600px){
    .matches-todays{
        text-decoration: none;
        color: white;
        font-size: 30px;
        margin-left: 43%;
        margin-top: 1%;
    }
}

@media screen and (max-width: 600px){
    .teambox{
        display: flex;
        padding: 3px 5px;
        /*border: 1px solid white;*/
        width: 200px;
        height: 60px;
    }
}

@media screen and (max-width: 600px){
    .teamrow{
        color: white;
        text-decoration: none;
        font-size: 25px;
        padding-top: 5px;
        height: 20px;
        /*margin-top: 10%;*/
    }
}

@media screen and (max-width: 600px){
    .world-ranking{
        margin-left: 30%;
        margin-bottom: 5px;
        font-size: 20px;
        /*font-weight: 700;*/
        color: white;
        margin-top: 10px;
        /*width: 1100px;*/
        position: relative;
    }

}

@media screen and (max-width: 600px){
    .match{
        color: white;
        cursor: auto;
        display: flex;
        flex-grow: 1;
        font-size: 12px;
        font-weight: 400;
        height: 52px;
        max-width: calc(100% - 45px);
        /*width: 421px;*/
        margin-top: 20px;
        position: relative;
    }

}

.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    /*height: 50px;*/
    align-items: center;
    font-size: 20px;
}

.nav-list{
    list-style-type: none;
}

/*.logo{*/
/*    width: 100%;*/
/*    margin-left: 10px;*/
/*    margin-top: 10px;*/
/*}*/

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: aqua;
}
.menu{
    display: none;
}

.menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

@media all and (max-width: 600px) {
    .navbar{
        flex-direction: column;
        position: relative;
    }
    .navbar .logo{
        width: 100%;
        margin-left: 10px;
        margin-top: 10px;
    }
    .menu {
        display: block;
        position: absolute;
        right: 10px;
        top: 15px;
    }
    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .nav-list .list-item {
        display: block;
        border-top: 1px solid white;
    }
    .active {
        display: block;
    }
}
.comment{
    color:white;
    margin-left: 10px;
    font-size: 20px;
    background-color: black;
}

.date{
    color: white;
    margin-left: 10px;
}

.form-control{
    font-size: 20px;
}

.btn{
    font-size: 20px;
}


.comments{
    width: 725px;
    height: 484px;
    /*margin-top: 280px;*/
    background-color: rgba(0, 0, 0, 0.6);
}
.comments-bar{
    width: 725px;
    margin-top: 250px;
}
.comments-logo{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

li{
    background: rgb(30, 30, 30);
    opacity: 1;
}

div{
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 600px){
    .footer{
        font-size: 1.5rem;
        color: white;
        width: 95%;
        text-align: center;
        margin-top: auto;
        justify-content: center;
    }

}

.columns{
    display: flex;
    justify-content: center;
    margin-right: 25px;
}

.stats-row{
    display: flex;
    justify-content: space-between;
    border: solid #495867;
    border-width: 1px 0 0;
    padding: 7px;
    font-size: 12px;
    color: white;
}

.statistics{
    display: flex;
    justify-content: center;
}


